<!DOCTYPE html>

<html lang="en-us">
<head>
    <title>Site administration | Django site admin</title>
    {% load static %}
    <!--    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">-->
    <!--    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">-->
    <!--    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">-->
    <!--    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">-->
    <!--    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" dashboard">

<div id="container">
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin/">Django administration</a></h1>
        </div>


        <div id="user-tools">
            Welcome,
            <strong>{{ user.get_username }}</strong>.
            <a href="/">View site</a> /
            <a href="/admin/password_change/">Change password</a> /
            <a href="/admin/logout/">Log out</a>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row" id="super">
            {% for super in estabelecimento %}
            <div style="margin-bottom: 15px;text-align: center" class="col-md-4">
                <button type="button" onclick="window.location.href='/lista/{{id}}/{{super.id}}'" class="btn btn-secondary btn-lg btn-block">{{super.nome}}</button>
            </div>
            {% endfor %}
        </div>
<!--        <div class="row" id="categoria">-->
<!--            {% for ca in cat %}-->
<!--            <div style="margin-bottom: 15px;text-align: center" class="col-md-4">-->
<!--                <h1><b>{{ca.nome}}</b></h1>-->
<!--                {% for evento in eventos %}-->
<!--                {% if evento.categoria|stringformat:"s" == ca.nome|stringformat:"s" %}-->
<!--                <a href="/lista/{{evento.id}}/{{id}}">{{evento.nome}}</a> <br>-->
<!--                {% endif %}-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
    </div>
</div>

<!--<script type="application/javascript">-->
<!--    var idSuper;-->
<!--    function selSuper(id, nome) {-->
<!--        document.getElementById("super").innerHTML = "Ok"+id+nome;-->
<!--    }-->

<!--</script>-->

</body>
</html>﻿






